@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

.cabecalho{
    padding: 2% 0% 0% 2%;
    width: 120px;
    height: 43px;
}

.cabecalho__logo{
    display: flex;
}

.apresentacao{
    display: flex;
    justify-content: space-between;
    padding: 2% 10%;
}

.apresentacao__conteudo{
    margin-top: 80px;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.apresentacao__conteudo__msg{
    display: flex;
    padding: 0;
    margin: 0;
    height: 400px;
    border: none;
    font-size: 2rem;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    resize: none;
}

.apresentacao__conteudo__msg::placeholder{
    color: #0A3871;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
}

.apresentacao__conteudo__aviso{
    display: flex;
    justify-content: left;
    font-family: "Inter", sans-serif;
    color: #495057;
    font-size: 0.7rem;
    gap: 8px;
}

.apresentacao__conteudo__botoes{
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-family: "Inter", sans-serif;
    gap: 24px;
}

.apresentacao__conteudo__botoes__criptografar{
    background-color: #0A3871;
    width: 328px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.apresentacao__conteudo__botoes__descriptografar{
    background-color: #D8DFE8;
    width: 328px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 16px;
    color: #0A3871;
    cursor: pointer;
}

.descriptografar{
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 16px;
    align-items: center;
}

.descriptografar__img{
    display: flex;
    width: 306px;
    height: 274px;
}

.descriptografar__titulo{
    display: flex;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #343A40;
}

.descriptografar__msg{
    display: flex;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #495057;
} 

.descriptografar__texto{
    display: none;
    padding: 0;
    margin: 0;
    height: 511px;
    border: none;
    font-size: 2rem;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    resize: none;
    text-align: left;
}

.descriptografar__botao__copiar{
    background-color: #D8DFE8;
    width: 328px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 16px;
    color: #0A3871;
    cursor: pointer;
    display: none;
} 

.rodape{
    color:#FFFFFF;
    background-color: #0A3871;
    padding: 12px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

@media (max-width: 1260px){
    .apresentacao{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .descriptografar{
        margin-top: 5%;
    }

    .descriptografar__botao__copiar{
        width: auto;
        padding: 0% 40% 0% 40%;
    }
}